<!DOCTYPE html>
<html>

<head>
  <title>Computer Shop Orgnaizer</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body style="background-image: url('{{ url_for('static', filename='images/IMG20250422085341.jpg') }}')">

  <div class = "header">
    <div style="display: flex; align-items: center;">
      <img src="{{ url_for('static', filename='images/piggy_bank_PNG56.png') }}" alt="main-logo" width="50" height="50">
      <span>
      <h1 style="margin-left: 10px; text-align: left;">Computer Organizer</h1>
      <h1 style="margin-left: 10px; text-align: left;">Studio (Temporary Name)</h1>
      </span>
      <button onclick="window.location.href='about'">ABOUT</button>
      <button onclick="window.location.href=''">LOGOUT</button>
      <button onclick="window.location.href='{{ url_for('user_items', username=username) }}'">ITEMS</button>
    </div>
  </div>

  <!--
  {% for val in content %}
    <p>{{val}}</p>
  {% endfor %}
  -->

  <!--
  {% for i in range(10) %}
    {% if i % 2 == 1 %}
      <p>{{i}}</p>
    {% endif %}
  {% endfor %}
  -->

</body>

</html>