<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<head>
  <title>Computer Shop Orgnaizer</title>
</head>

<body class = 'home_page_body'>
  <header>
    <div style = "display: flex; align-items: center;">
      <img src = "{{ url_for('static', filename='images/temp_logo.png') }}" alt="main-logo" width="55px" height="40px">
      <button onclick = "document.getElementById('home_page_about').scrollIntoView({ behavior: 'smooth' });">ABOUT</button>
      <button onclick = "document.getElementById('home_page_guide').scrollIntoView({ behavior: 'smooth' });">GUIDE</button>
      <button onclick = "window.location.href='/home/<username>'">COMPUTER MANAGEMENT</button>
      <button style = "margin-left: 63%;" onclick="window.location.href='login'">LOGIN</button>
      <button onclick = "window.location.href='signup'">SIGNUP</button>
    </div>
  </header>
  
  <div class = "home_page_fixed_wrapper">
    <div class = "home_page_fixed">
      <div class = "home_page_fixed_introduction">
        <h1 style = "font-size: 50px;">Advocating the Inclusivity of Internet Cafe shop to help the reach of knowledge and technology</h1>
        <p><br>Welcome for your usage of this online Computer Maangement System</p>
      </div>
    </div>
  </div>

  <div class = "home_page_about">
    <div class = "home_page_about_1">
      <h1 style = "font-size: 50px;">SAMPLE TEXT SAMPLE TEXT SAMPLE TEXT SAMPLE TEXT SAMPLE TEXT</h1>
      <p><br> SAMPLE TEXT SAMPLE TEXT SAMPLE TEXT SAMPLE TEXT</p>
    </div>

    <div id = 'home_page_about' class = "home_page_about_1">
      <h1 style = "font-size: 50px;">WHAT IS THE PURPOSE OF THIS WEBSITE?</h1>
      <p><br>Welcome for your usage of this online Computer Maangement System</p>
    </div>

    <div id = 'home_page_guide' class = "home_page_about_1">
      <h1 style = "font-size: 50px;">WHAT ARE THE NECESSARY GUIDES IN ORDER TO DEVELOP A INTERNET CAFE?</h1>
      <p><br>Welcome for your usage of this online Computer Maangement System</p>
    </div>
  </div>

</body>
</html>