<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<head>
  <title>Computer Shop Orgnaizer</title>
</head>

<body class = 'home_page_body'>
  <header>
    <div style = "display: flex; align-items: center;">
      <img src = "{{ url_for('static', filename='images/temp_logo.png') }}" alt="main-logo" width="55px" height="40px">
      <button onclick = "document.getElementById('home_page_about').scrollIntoView({ behavior: 'smooth' });">ABOUT</button>
      <button onclick = "document.getElementById('home_page_guide').scrollIntoView({ behavior: 'smooth' });">GUIDE</button>
      <button onclick = "window.location.href='/home/<username>'">COMPUTER MANAGEMENT</button>
      <button style = "margin-left: 63%;" onclick="window.location.href='login'">LOGIN</button>
      <button onclick = "window.location.href='signup'">SIGNUP</button>
    </div>
  </header>
  
  <div class = "home_page_fixed_wrapper">
    <div class = "home_page_fixed">
      <div class = "home_page_fixed_introduction">
        <h1 style = "font-size: 70px;">Advocating the Inclusivity of Internet Cafe shop to help the reach of knowledge and technology</h1>
        <p style="font-size: 25px;"><br><br>Welcome for your usage of this online Computer Management System</p>
      </div>
    </div>
  </div>

  <div class = "home_page_about">
    <div class = "home_page_about_1">
      <h1 style = "font-size: 50px;"><br>THANK YOU FOR VISITNG THIS WEBSITE</h1>
      <p style="text-align: justify; font-size: 20px;"><br><br>
        This is part of a final requirements of the final period for the Database Managemeng System in the 2nd Year. Before proceeding
        please do note that the website is not optimized to be used on mobile and must require a computer to access.
      </p><br><br>
    </div>
    
    <!-- wag tanggalin dis, lalagpas kasi scroll pag pinindot button idk y lmao-->
    <div id = 'home_page_about'></div>

    <div class = "home_page_about_1">
      <h1 style = "font-size: 50px;">WHAT IS THE PURPOSE OF THIS WEBSITE?</h1>
      <p style = "text-align: justify;font-size: 20px;"><br>
        In conceptualizing an idea for a project, our team concluded after a few ideas one plausible idea that can be focused on which
        regards the accessibility of information accross the internet. In this contemporary period, numerous ideas can be spread and proliferate
        due to how closely the internet can enable our interactions accross the globe. Still, not all individuals are blessed enough that they
        can have access to the internet, even more for technology itself.
        <br><br>
        From this gap of accessibility to knowledge, the students have decided in the creation of a concept website that enables individuals that
        has the means in building their own internet cafe by providing them the very bare necessities which is an interface to organize and
        shutdown local computers connected which is an integral part of managing an internet cafe.
        <br><br>
        There are various functionalities that are missing in the website due to it still being a knowledge/concept as well as some knowledge gap
        pertaining to the languages such as javascript. Some of this is the actual remote shutdown of the computers and a dynamic prompt to be
        alterted if the time is up for a specific computer. Still, a function such as the income visualizer/monitor can be utilized fully.
      </p>
    </div>
    
    <!-- wag tanggalin dis, lalagpas kasi scroll pag pinindot button idk y lmao-->
    <div id = 'home_page_guide'></div>

    <div class = "home_page_about_1">
      <br>

      <h1 style = "text-align: center; font-size: 50px;">WHAT ARE THE NECESSARY PRECAUTIONS IN ORDER TO DEVELOP AN INTERNET CAFE?</h1>
      <p style = "text-align: center; font-size: 20px;"><br>1. Protect the data of your customer and refresh all the client computers for the next user.</p>
      <p style = "text-align: center; font-size: 20px;"><br>
        It is advised to block saving files into the main hard drive of each client computer because it might cause personal data leak of the previous user.
        Another work around to this problem is to refresh the client computer after shutting down. This will automatically log out accounts in the softwares
        used and close all previously used programs.
      </p>
      <br>
      <p style = "text-align: center; font-size: 20px;"><br>2. Content filtering, traffic logging, and browser restrictions are necessary cybersecurity measures to maintain customer safety and privacy.</p>
      <p style = "text-align: justify; font-size: 20px;"><br>
        Use softwares like OpenDNS and CleanBrowsing to filter the contents of the internet. In addition, use a router or firewall with logging capabilities
        to track the clients traffic logs. Or, use a packet sniffer like WireShark to read all the packets flow in the network. These are necessary procedures
        to prevent users accessing illegal websites and infecting the client computers with malicious software.
      </p>
      <br>
      <p style = "text-align: center; font-size: 20px;"><br>3. Protection against keyloggers and spyware is crucial to secure sensitive customer information like passwords.</p>
      <p style = "text-align: justify; font-size: 20px;"><br>
        Use Reboot-to-restore software like Reboot restore Rx to reset the client computer each shutdown to clean the computer each time. You should also deny
        modification access to the cmd and registry of the pc. In addition, you can also prevent installation of software without permission from the admin.
      </p>
      <br>
      <p style = "text-align: center; font-size: 20px;"><br>4. Ensure a stable internet connectivity</p>
      <p style = "text-align: justify; font-size: 20px;"><br>
        Use wired connections (Ethernet cables) to connect each client computers into the router. This is faster than wireless connection. Furthermore, research
        for a reliable ISP provider.
      </p>
      <br>
      <p style = "text-align: center; font-size: 20px;"><br>5. Ensure that you have disabled admin privileges in each client computer.</p>
      <p style = "text-align: justify; font-size: 20px;"><br>
        Ensure that you prevent modification of the pc settings without consent like modification of ip address and Mac-address
      </p>

    </div>
  </div>

</body>
</html>